# This is a basic workflow to help you get started with Actions

name: Issue assignment

# Automatically assigns issues to @griffineng when a new one is created
on:
  issues:
    types: [opened]
    
jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
    - name: Auto-assign Issue
      uses: pozil/auto-assign-issue@v1.4.0
      with:
        repo-token: ${{ secrets.github_token}}
        assignees: griffineng
